<%- include('../partials/head')%>

<%- include('../partials/navbar')%>

<% for( let doctor of doctors){%>
    <ul>
        <li>
        <h1><%= doctor.name %></h1>
        <h2><%= doctor.department %> <b> <%= doctor.degree %></b></h2>
        <img src=<%= doctor.image %> alt="">
        </li>
        <hr>
    </ul>
<%}%>
<%- include('../partials/footer')%>